doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Sign In
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css")
  body(style="background-image:url('public/img/bg-all.jpg'); height:auto")
    .container-fluid       
      .row
        .modal.show
          .modal-dialog
            .modal-content
              .modal-header
                .h3 Sign in
              .modal-body 
                form(action="/v1/auth/local",  method="POST")          
                    .form-group
                      input.form-control(type="text", name="username" id="username", placeholder="Endereço de email", required, autofocus)
                    .form-group
                      input.form-control(type="password", name="password" id="password", placeholder="Senha", required)
                    .form-group
                      button.btn.btn-success.btn-block(type="submit") Logar
                      #{message}
              .modal-footer
                a.btn.btn-primary.btn-block(href="v1/auth/facebook/")
                  i.fab.fa-facebook
                  |  Facebook
                a.btn.btn-danger.btn-block(href="v1/auth/google/")
                  i.fab.fa-google
                  |  Google         
                  
            
    
